{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic'
            rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static "display/style.css" %}">

        <title>{% block title %}{% endblock %}</title>

        <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>

        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div id="signew-page-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
