{% extends "display/base.html" %}

{% block content %}
    <h1>Displays</h1>

    {% if display_list %}
        <ul class="signew-display-list">
            {% for display in display_list %}
                <li class="signew-display-item">
                    <a href="{% url 'display:show' display.id %}">{{ display.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No displays are available.</p>
    {% endif %}

    <div id="signew-logo">
        <img src="/static/signew-logo.png" width="150">
        <div id="signew-logo-tagline">by <a href="https://qubs.ca">QUBS</a></div>
    </div>
{% endblock %}
