{% extends "display/base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script type="text/javascript" src="{% static "display/slideshow.js" %}"></script>
    <script type="text/javascript">
        var lastSlide = -1;
        var currentSlide = 0;
        var slides = [];
        var container = "#signew-slides";

        var slideshow = new SignewSlideshow({
            "container": "#signew-slides",
            "mediaURL": "{{ MEDIA_URL }}"
        });

        {% for slide in slide_list %}
            slideshow.addSlide({
                "id": "{{ slide.id }}",
                "name": "{{ slide.slide_name }}",
                "type": "{{ slide.slide_type }}",
                "url": "{{ slide.slide_url }}",
                "caption": "{{ slide.caption|safe }}",
                "data": "{{ slide.slide_data }}",
                "file": "{{ slide.slide_file }}",
                "live": {{ slide.live_load|lower }},
                "timing": {{ slide.timing }}
            });
        {% endfor %}

        $(document).ready(function () {
            slideshow.initialize();
        });
    </script>
{% endblock %}

{% block content %}
    <ul id="signew-slides"></ul>
{% endblock %}
